/* @font-face {
    font-family: 'Gluten', cursive;
    src: url('Gluten-VariableFont_wght.ttf') format('ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}

input {
    display: block;
}

section {
    width: 1200px;
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-auto-rows: 100px;
}

#text {
    --gravity: 0;
    --pos: 0;
    font-family: 'Gluten', arial;
    font-variation-settings: "srff" var(--gravity), "wght" var(--gravity);
    /* position: fixed; */
    /* top: var(--pos); */
    margin: 0;
    width: 100%;
    text-align: center;
    transform: translateY(50%);
    line-height: 0.7;
}


/* div {
    font-weight: 100;
    transform: scale(0.2);
} */

canvas {
    vertical-align: top;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@-webkit-keyframes bounce {
    0% {
        top: 10%;
    }
    50% {
        top: 15%;
    }
    100% {
        top: 10%;
    }
}

@keyframes bounce {
    0% {
        top: 10%;
    }
    50% {
        top: 15%;
    }
    100% {
        top: 10%;
    }
}